<table>
    {{#each kobiety }}
    <tr>
        <td class="id-table">
            id: {{id}}
        </td>

        <td>
            gender : {{gender}}
        </td>
    </tr>

    {{/each}}
    <tr></tr>
    {{#each mezczyzni }}
    <tr>
        <td class="id-table">
            id: {{id}}
        </td>

        <td>
            gender : {{gender}}
        </td>
    </tr>

    {{/each}}
</table>