<h1 class="greyText">login</h1>

<form method="post" action="loginf">
    <label>login :
        <input name="login" type="text" required="yes" />
    </label>
    <label>password : <input name="password" type="password" required=yes /></label>

    <button class="form-button" type="submit">login</button>
</form>